<div class="row">
  <div class="col-xs-12">
    <h3>WEBAPP Availability</h3>
    <%=      
      line_chart  Webapp.pluck("name").uniq.map { |c| 
        { name: c, 
          data: @webapp.where(name: c).group_by_month(:period).maximum(:availability),
        }  
      },
      discrete: true,
      height:   "500px",
      min:      95, 
      max:      100,
      xtitle:   "Period", 
      ytitle:   "Availability",
      colors:   [
        "red", "green", "blue", "orange", "yellow", "black", "magenta", "teal", "turquoise", "pink", "cyan"
      ],
      library:  { 
        backgroundColor: "#FFF", 
        curveType:       "none", 
        pointSize:       5,
      }     
    %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h3>RAW DATA</h3>
    <%  Webapp.pluck("name","period","availability").each do |data| %>
      <p><%=  data %></p>
    <% end %>
      
  </div>
</div>