<link rel="stylesheet" href="/assets/stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="/assets/stylesheets/bootstrap-theme.min.css">
<script src="/assets/javascripts/bootstrap.min.js"></script>


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>SRVOPS Dashboards</title>

    <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet">

    <link href="dashboard.css" rel="stylesheet">

    <script src="/assets/javascripts/ie-emulation-modes-warning.js"></script>
  </head>

<!-- <body style="background-image: url(http://paulrobertson.mechafetus.com/10_void_animated.gif); -->
<!--   <body style="background-image: url(http://loosechange.co.za/wp-content/uploads/2013/01/FNB-Logo.jpg); -->
  <body style="background-image: url(http://33.media.tumblr.com/tumblr_m2qmbt51p01qzw1qyo1_500.gif); 
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;">

          <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">> a dashboard for dashboards $ </a>
              </div>



             <div>
                <ul class="nav navbar-nav">
                  <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">MONITORING<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="/webapp/index" target="_blank">Chartkick WEBAPP</a></li>
                      <li><a href="/uptime/index" target="_blank">Chartkick HOST UPTIME</a></li>                  
                    </ul>
                  </li>
              </div>            


            </div>
          </nav>

      </div>
    </nav>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/assets/javascripts/bootstrap.min.js"></script>
    <script src="/assets/javascripts/vendor/holder.min.js"></script>
    <script src="/assets/javascripts/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
